

@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: "Noticia Text", serif;
}

/* Navigation links */
.navbar a {
    padding: 12px;
    color: rgb(82, 12, 144);
    text-decoration: none;
    font-size: 17px;
    font-weight: 800;
    width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }
  .navbar {
    text-align: center; /*aligns navbar text to Centre*/
  }
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

  #title1 {
    color: antiquewhite;
    text-align: center;
    background-color: blueviolet;
  }
  #torarticles {
    align-content: center;
    text-align: center;
    padding: 20px;
    /* background-color: darkgrey; */
    background-image: url(/images/cntower.png);
  }
  .intro {
    background-color: rgba(63, 42, 141, 0.5);
    font-weight: 600;
  }
  #attractions_list{
    font-size: medium;
  }
  #attractions_list ul {
    text-align: center;
  }
  #attractions_list li {
    text-align: center;
    text-decoration: none;
    list-style-type: none;
  }
  table,
    th,
    td {

        background-color: darkorange;
        padding: 20px;
        border: 2px solid black;
        border-collapse: collapse;
    }
    .contact {
      padding: 80px;
      background-color: aliceblue;
      margin: 80px;
      border-radius: 20px;
    }

  